mixin social(className, width, height, links, classActive)
  ul(class=`${className}`)
    each link, index in links
      li(class=`${className}__item`)
        a(class=`${className}__link` href="#")
          svg(class=`${className}__icon ` + ( (ndx === classActive) ? `${className}__icon_active` : '') width=`${width}` height=`${height}`)
            use(xlink:href=`images/icons/sprite.svg#${link}`)

mixin sidebar(className, contents, classActive)
  ul(class=`${className}__item`)
    each content in contents
      li(class=`${className}__list ` + ( (index === classActive) ? `${className}__list-active` : ''))
        a(href="#" class=`${className}__content`)= content

mixin menulist(className, contents)
  nav(class=`${className}`)
    ul(class=`${className}__item`)
      each content in contents
        li(class=`${className}__list`)
          a(href='#' class=`${className}__link`)= content

mixin mixin_skill(className, secondClass, abilities)
    ul(class=`${className}-list`)
      li(class=`${className}-list__item`)
        div(class=`${className}-row`)
          div(class=`${className}-row__title`) #{abilities.title}
          ul(class=`${className}-row__list`)
            each skill in abilities.skills
              li(class=`${className}-row__item`)
                div(class=`${secondClass}`)
                  svg(class=`${secondClass}__circle` viewBox="0 0 110 110")
                    circle(r="45" cx="50%" cy="50%" preserveaspectratio="none" fill="none" class=`${secondClass}__circle-first`)
                    circle(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class=`${secondClass}__circle-second ` + `circle-${skill}`)

                  span(class=`${secondClass}__title`) #{skill}