mixin social(className, width, height, links, classActive)
  ul(class=`${className}`)
    each link, index in links
      li(class=`${className}__item`)
        a(class=`${className}__link` href="#")
          svg(class=`${className}__icon ` + ( (ndx === classActive) ? `${className}__icon_active` : '') width=`${width}` height=`${height}`)
            use(xlink:href=`images/icons/sprite.svg#${link}`)

mixin sidebar(className, contents, classActive)
  ul(class=`${className}__item`)
    each content, index in contents
      li(class=`${className}__list ` + ( (index === classActive) ? `${className}__list-active` : ''))
        a(href="#" class=`${className}__content`)= content

mixin menulist(className, contents)
  ul(class=`${className}__item`)
    each content in contents
      li(class=`${className}__list`)
        a(href='#')= content